<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1 class="head">All Lists</h1>
        <button id="btn">Dark</button>
        <form action="/listings/new" method="get">
            <button>Create New Listing</button>
        </form>
    </header>
    <% for(let list of lists){ %>
        <div class="card">
            <img src="<%= list.image%>" alt="" class="img"><br>
            <a class="link" id="link" href="/listings/<%=list._id%>">
               <%= list.title  %>
            </a>
        </div>
    <% } %>
<script>
    let btn = document.querySelector("#btn");
    let body = document.querySelector("body");
    

btn.addEventListener("click",()=>{

    if(btn.innerText == "Dark"){
        body.style.backgroundColor="black";    
        btn.innerText = "Light";
        body.style.color="white";
        
        }
    else{
            btn.innerText = "Dark";
            body.style.backgroundColor="";
            body.style.color="black";
            }
});
</script>
</body>
</html>