body{
    color:black;
    font-family:sans-serif;
}
.card{
    margin: 25px;
    padding: 10px;
    display: inline-block;
    /* background-color: aliceblue; */
    /* border : 1px solid black; */
    /* border-radius: 10px; */
}

.img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.link{
    color:black;
    text-decoration: none;
}
